/* Styles for the CoverPop.js plugin */



.CoverPop-open,
.CoverPop-open body {
    height: 100%;
    overflow: hidden;
}

#CoverPop-cover {
	background-color: #96f8e3;
    display: none;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    -webkit-animation: fade-in .25s ease-in;
    -moz-animation-name: fade-in .25s ease-in;
    -ms-animation-name: fade-in .25s ease-in;
    -o-animation-name: fade-in .25s ease-in;
    animation-name: fade-in .25s ease-in;
}

    .CoverPop-open #CoverPop-cover {
        display: block;
    }


@-webkit-keyframes fade-in {
    0% { opacity: 0; }
    25% { opacity: 0; }
    100% { opacity: 1; }
}
